.menu-container {
position: relative;
z-index: 1100;
}

#header {
position: fixed;
padding-left: 2rem;
}

#menu {
background: #e49d6b;
height: 100%;
left: 0;
opacity: 0;
overflow: hidden;
position: fixed;
text-align: center;
top: 0;
transition: all 0.7s ease-in-out;
visibility: hidden;
width: 100%;
z-index: 1100;
}

#menu.open {
opacity: 1;
visibility: visible;
}

#menu li {
animation-duration: 1.0s;
animation-fill-mode: both;
animation-name: fadeInUp;
}

#menu ul:hover a {
opacity: 0.5;
}

#menu .main-nav {
position: relative;
top: 50%;
transform: translateY(-50%);
}

#menu ul {
list-style: none;
margin: 0;
padding: 0;
}

#menu a {
color: #ffffff;
display: block;
font-size: 2.5rem;
font-weight: bold;
padding: 1rem 1rem;
text-decoration: none;
text-transform: uppercase;
}

.toggle-menu {
background-color: transparent;
border: none;
cursor: pointer;
display: inline-block;
height: 50px;
outline: none;
padding: 0;
pointer-events: initial;
vertical-align: middle;
width: 50px;
z-index: 1110;
position: fixed;
}

.toggle-menu span {
background-color: #fff;
content: "";
display: block;
height: 2px;
left: calc(50% - 13px );
position: absolute;
top: calc(50% - 1px );
transform-origin: 50% 50%;
transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear;
width: 26px;
}

.toggle-menu span:before, .toggle-menu span:after {
background-color: #fff;
content: "";
display: block;
height: 2px;
position: absolute;
transform-origin: 50% 50%;
transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear;
width: 26px;
}

.toggle-menu span:before {
top: 7px;
}

.toggle-menu span:after {
top: -7px;
}

.toggle-menu.active span {
background-color: transparent;
transition: background 0.2s ease-out;
}

.toggle-menu.active span:before, .toggle-menu.active span:after {
transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}

.toggle-menu.active span:before {
top: 0;
transform: rotate3d(0, 0, 1, -45deg);
}

.toggle-menu.active span:after {
top: 0;
transform: rotate3d(0, 0, 1, 45deg);
}


.recipe-details-container {
max-width: 800px;
margin: 0 auto;
padding: 20px;
}

.recipe-title {
font-size: 2rem;
margin-bottom: 20px;
}

.recipe-details {
font-size: 1.2rem;
margin-bottom: 15px;
}

.recipe-img {
max-width: 100%;
height: auto;
margin-top: 20px;
}


.loading-container {
text-align: center;
margin-top: 50px;
font-size: 1.5rem;
color: #555;
}
  